.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.loading{
    width: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 90vw;
        margin: 0 auto;
    }
  }